body{
  margin: 0px;
}
.header{
  display: flex;
  height: 50px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
}
.header img{
  height: 100%;
  width: auto;
}
.header input {  
  border-radius: 4px;
  border: none;
  padding: 4px 15px;
  font-size: 16px;
  width: 12%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, border 0.3s;
  background-color: #ffffffb8;
}  

.header input:focus {  
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 120, 255, 0.5); 
  background-color: #fff;  
}

.location-marker{
  height: 70%;
  width: auto;
  display: flex;
  align-items: center;
}
.marker-icon {  
  height: 100%;
  width: auto;
  color: #FF5733;
  font-size: 50%;
}
.contactcalls a{
  text-decoration: none;
  margin: 5px;
  font-size: 120%;
}

.wegolmap {  
  position: relative;  
  width: 100%;  
  height: 882px; /* Set to match the iframe height */  
}  

.wegolmap iframe {  
  width: 100%;  
  height: 100%;  
  border: 0;  
}  

.location-details {
  display: flex;
  text-align: center;
  position: absolute;
  top: 13%; /* Adjust this value using percentages for better responsiveness */
  left: 4%; /* Center the container horizontally */
  transform: translateX(-50%); /* Adjust the positioning to remain centered */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5); /* Optional shadow for better visibility */
  width: 80%; /* Use a percentage to make it responsive */
  max-width: 100px; /* Set a maximum width for larger screens */
  justify-content: space-around;
}  

@media (max-width: 768px) {  
  .location-details {  
    width: 90%; /* Increase width on smaller screens */  
    padding: 12px; /* Adjust padding for smaller devices */  
    left: 17%;
  }  
} 

.weather-card {  
  display: flex;  
  flex-direction: column;  
}  

.weather-card h2{
  font-size: 100%;
}

.weather-item {  
  margin-bottom: 10px;  
}  

.weather-item label {  
  font-weight: bold;  
}
